<h1>Listing publishers</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  
<% for publisher in @publishers %>
  <tr>
    <td><%=h publisher.name %></td>
    <td><%= link_to 'Show', admin_publisher_path(publisher) %></td>
    <td><%= link_to 'Edit', edit_admin_publisher_path(publisher) %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => publisher }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New publisher', new_admin_publisher_path %>
